<div class="container" style="margin-top:2%;">
<div class="row">
    <div class="col-md-2 offset-md-1">
      <a href="/inhouse/games">
        <img src="./assets/other/games.png"  height="60">
      </a>
    </div>
    <div class="col-md-5"  style="text-align: center;">
      <img src="./assets/other/leagueofcustoms.png" style="margin-top: -70px;" height="200">
    </div>
    <div class="col-md-2">
      <a href="/inhouse/leaderboard">
        <img src="./assets/other/leaderboard.png" height="60">
      </a>
    </div>
</div>
</div>
<router-outlet></router-outlet>